<template>
  <div class="wrapper container  mx-auto d-flex justify-content-center flex-column ">
    <h1 class="mx-auto text-center">{{textOnLabel}}</h1>
    <form action="">
      <textarea  v-model="inputedText" class="input d-block w-100" rows="10" cols="50" placeholder="Enter text"></textarea>
      <div class="row justify-content-between">
        <button type="button"   @keydown.enter="validateInput()" @click="validateInput()" class="btn btn-secondary col-xl-3 col-12">{{ textOnButton }}</button>
        <button type="button" @click="clear" class="btn btn-secondary col-xl-3 col-12">Clear</button>
      </div>
    </form>
    <textarea v-if="showRespone" readonly v-model="decrypted" class="input d-block w-100" rows="10" cols="50" placeholder="Enter text"></textarea>
  </div>
  <hr class="bg-dark w-100">
  <p class="mx-auto text-center"> Created by <a href="https://t.me/gritsev77">Hrytsev Ivan </a>student of CI-212.All rights reserved </p>

</template>

<script>

import '../node_modules/bootstrap/dist/css/bootstrap.css'

export default {
  name: 'App',
  data(){
    return {
      showRespone:false,
      inputedText: '',
      counter: {},
      currentIndex: 0,
      alphabet: {'А': 1, 'Б': 2, 'В': 3, 'Г': 4, 'Д': 5, 'Е': 6, 'Є': 7, 'Ж': 8,
        'З': 9, 'И': 10, 'І': 11, 'Ї': 12, 'Й': 13, 'К': 14, 'Л': 15, 'М': 16,
        'Н': 17, 'О': 18, 'П': 19, 'Р': 20, 'С': 21, 'Т': 22, 'У': 23, 'Ф': 24,
        'Х': 25, 'Ц': 26, 'Ч': 27, 'Ш': 28, 'Щ': 29, 'Ь': 30, 'Ю': 31, 'Я': 32},

        antiAlphabet: {},
      decrypted: '',
      textOnButton:'Try to decrypt ',
      textOnLabel:`Enter text to decrypt (ATBASH)`,
      textOnOwnButton:'Choose by own',
      popularityArray: ['О', 'А', 'Є', 'И', 'Н', 'В', 'Т', 'Е', 'Р', 'К', 'С', 'Д', 'М', 'П', 'Л', 'У', 'Я', 'З', 'Г', 'Б', 'Ч', 'Й', 'І', 'Ю', 'Ш', 'Ц', 'Ж', 'Ф', 'Ь',  'Ї', 'Щ', 'Х']
      ,

    }
  },
  methods: {
    validateInput() {
      if (this.inputedText === '') {
        alert("enter text")
        return;
      }
      this.normalise()
      this.decrypt()

    },
    decrypt() {
      let input=this.inputedText
      let newText=''
      for(let char of input){
      if(char==' ')
      {
        newText+=' '
        continue
      }
        let index=this.alphabet[char]
        index=33-index
        let newChar=this.antiAlphabet[index]
        newText+=newChar
      }
      this.showRespone=true;
      this.decrypted=newText

    },
    normalise() {
      let textToNormalise = this.inputedText
      let normalizedText = ""
      for (let letter of textToNormalise) {
        if (isNaN(parseInt(letter))) {
          normalizedText += letter.toUpperCase();
        }
        this.inputedText = normalizedText;
      }
      for (let key in this.alphabet) {
        let value = this.alphabet[key];
        this.antiAlphabet[value] = key;
      }

    },
    replace() {

    },
    clear(){
      if(this.inputedText=='')
        alert("there is no text:)")
      this.inputedText=''
      this.showRespone=false;
      this.currentIndex=0
      this.textOnLabel='Enter text to decrypt(ATBASH)'
      this.textOnButton='Try to decrypt'
    },
    yourLetter(){
      const letter = window.prompt('Enter one ukrainian letter:');
      if (letter !== null && letter.length === 1) {
        let indexToChange
        this.popularityArray.forEach((value, index) => {
          if(value===letter.toUpperCase())
            indexToChange = index;
        });
        this.currentIndex=indexToChange
        console.log(indexToChange)
        this.textOnOwnButton="Selected letter is "+ " `"+letter.toUpperCase()+"`"
      } else {
        alert("input error(must be one letter on UKRAINIAN language)!")
      }

    }


  }
}
</script>

<style>
.wrapper{
  height:90vh;
}
textarea{
  margin-bottom: 8px;
  min-height: 50px;
}
button{

  margin-bottom: 5px;
}
</style>
